row.property label.title {
  opacity: 0.55;
  font-size: smaller;
}

row.property label.subtitle {
  opacity: 1.0;
  font-size: 11pt;
}

dragoverlay {
  box-shadow: none;
}

.drag-overlay-status-page {
  background-color: alpha(@accent_bg_color, 0.5);
  color: @accent_fg_color;
}

.floating {
  margin: 20px 0;
}

.unfloating {
  margin-bottom: 55px;
}
/* 
.image-container {
  background-color: @thumbnail_bg_color;
  color: @thumbnail_fg_color;
  border: 1px solid @borders;
  border-radius: 5px;
  font-size: 12pt;
} */

.image-caption {
  border-top: 1px solid @borders;
  background-color: @thumbnail_bg_color;
  padding: 2pt 0;
}

.image-remove {
  /* background-color: @thumbnail_bg_color; */
  margin: 5px;
}

value {
  min-width: 2em;
}

.lock {
  min-height: 30px;
  min-width: 30px;
}

.large_number {
  font-size: 36pt;
}

.unit-drop .menu * {
  min-width: 0px;
}