row.property label.title {
  opacity: 0.55;
  font-size: smaller;
}

row.property label.subtitle {
  opacity: 1.0;
  font-size: 11pt;
}

dragoverlay {
  box-shadow: none;
}

.drag-overlay-status-page {
  background-color: alpha(@accent_bg_color, 0.5);
  color: @accent_fg_color;
}

.card-content {
  border-radius: 60px;
}

flowboxchild:focus {
  border-radius: 15px;
}

.image-caption {
  border-top: 1px solid @borders;
  background-color: @thumbnail_bg_color;
  padding: 2pt 0;
}

.image-remove {
  /* background-color: @thumbnail_bg_color; */
  margin: 5px;
}

.image-remove:focus {
  outline-color: @theme_selected_bg_color;
}

.image-rest-button:focus {
  outline-offset: 2px;
}

value {
  min-width: 2em;
}

.lock {
  min-height: 30px;
  min-width: 30px;
}

.large_number {
  font-size: 36pt;
}

.unit-drop .menu contents {
  min-width: 0px;
}

.long {
  padding-right: 70px;
  padding-left: 70px;
}

.no-padding {
  padding: 0;
}